.header {
  background-color: var(--background-color-1);
  position: fixed;
  transition: 0.5s;

  width: 100vw;

  display: flex;
  justify-content: center;

  .container {
    transition: 0.5s;

    width: 90%;
    max-width: 1800px;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .mobile-menu {
      display: none;

      div {
        background-color: var(--secondary-color);

        width: 30px;
        height: 5px;
        border-radius: 5px;

        margin: 4px 0;
      }
    }

    .logotipo {
      font-size: 1.6em;
      transition: 0s;
  
      span {
        font-weight: bold;
        color: var(--pimary-color);
      }
    }

    nav {
      width: 45%;
      max-width: 700px;
      height: 100%;

      display: flex;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(100% / 3);
        height: 100%;

        transition: 0.2s;
      }

      a:hover {
        background-color: var(--background-color-2);
      }
    }

    .dark-theme-button {
      background: none;
      border: none;

      width: min-content;
      height: min-content;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 1000px) {

  .header {
    .container {
      .mobile-menu {
        display: block;
      }

      nav {
        background-color: var(--background-color-2);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        justify-content: start;
        height: 0;
        width: 100vw;
        max-width: 100vw;
        overflow: hidden;

        transition: 0.2s;
        a {
          height: 100px;
          width: auto;
        }
      }

      .activate-nav-bar {
        height: calc(100vh - 80px);
      }

      .activate-header {
        height: calc(100vh - 80px);
      }
    }
  }
}

@media (max-width: 425px) {
  .header .container .logotipo{
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  .header .container .logotipo{
    font-size: 1.2em;
  }

  .header .container .mobile-menu bar{
    width: 25px;
    height: 3px;

    margin: 3px 0;
  }

  .header .container .dark-theme-button{
    width: 20px;
    height: 20px;
  }
}