html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.light-theme {
  --pimary-color: #A259FF;
  --secondary-color: #444555;
  --background-color-1: #F6F6FF;
  --background-color-2: #ddf;

  --text-base-color: #000;
  --text-secondary-color: #555;
}

.dark-theme {
  --pimary-color: #A259FF;
  --secondary-color: #DDDDDD;
  --background-color-1: #2E2E40;
  --background-color-2: #272636;

  --text-base-color: #fff;
  --text-secondary-color: #ccc;
}

h1, h2, h3, p, span {
  transition: 0s;
}