.container {
  width: 100vw;
  min-height: 100vh;

  background-color: var(--background-color-1);
  color: var(--text-base-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: end;
    align-items: center;

    padding: 0 80px;

    button {
      width: 32px;
      height: 32px;
    }

  }
}